{
    "basicSettings.adbDebug": 1,
    "basicSettings.rootMode": true,
    "basicSettings.fps": 10,
    "statusSettings.sharedPictures": "save_image_path",
    "propertySettings.phoneIMEI": "phoneIMEI_num",
    "propertySettings.phoneIMSI": "phoneIMSI_num",
    "propertySettings.phoneSimSerial": "phoneSimSerial_num",
    "propertySettings.phoneAndroidId": "phoneAndroidId_num",
    "propertySettings.phoneModel": "ASUS_Z01QD",
    "propertySettings.phoneManufacturer": "asus",
    "propertySettings.macAddress": "macAddress_num",
    "advancedSettings.resolution": {
        "width": 960,
        "height": 540
    },
    "advancedSettings.resolutionDpi": 240,
    "basicSettings.realHeigh": -1,
    "basicSettings.realWidth": -1,
    "basicSettings.height": -1,
    "basicSettings.width": -1,
    "advancedSettings.cpuCount": 1,
    "advancedSettings.memorySize": 2048
}
